{% extends "base.html" %}

{%block head%}
    <title>Update Newsletter</title>
{%endblock%}

{%block header%}
    <a href='/' target="_blank"><p>Preview website</p></a>
{%endblock%}

{%block content%}
<main>
    <div class="newsletter-container" >
        <div class="add-newsletter-form">
            <form action="/update/{{db_data.id}}" method="POST">
                <input type="text" name="link" placeholder="Enter link here" value="{{db_data.link}}"required>
                <input type="date" name="date" value="{{db_data.date}}" required><br>
                <div class="form-buttons">
                    <a href="/admin"><input type="button" value="Cancel"></a>
                    <input type="submit" value="Update" >
                </div>
            </form>
        </div>  
    </div>
</main>
{%endblock%}

{%block footer%}
    <a href="/logout"><p>logout</p></a>
{%endblock%}
            
{%block script%}
    <script src="{{ url_for('static', filename='scripts/unhide-form.js') }}"></script>
{%endblock%}